/* The alert message box */
#alert {
  padding: 20px;
  color: red;
  margin: 20px 0 15px 0;
}

#alert span{
  margin-right: auto;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: red;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  display:none;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}